.file-browser {
    width: 40%;
}

@media (max-width: 800px) {
    .file-browser{
        width: 60%;
    }
}

.file-browser__list-group {
    cursor: pointer;
}

.file-browser__list-group-item {
    display: flex !important;
}

.file-browser__button {
    padding-top: 0.2rem;//nie działa
    padding-bottom: 0.2rem;
}

.file-browser__filename {
    margin-right: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.file-browser__breadcrumb {
}

.file-browser__button-group-section{
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}