.vertical-view{
    max-width: 100%;
    overflow: hidden;

    &__container
    {
        max-width: 100%;
        flex-wrap: wrap;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    &__translation
    {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    &__row{
        display: flex;
        flex-direction: row;
    }

    &__span-group{
        margin-bottom: 4px;
        padding: 2px;
        border-radius: 10px;
        height: auto;
        align-items: center;
        font-weight: 600;
    }

    &__span-groupa{
        width: inherit;
        height: inherit;
        // margin-bottom: 4px;
        // padding: 2px;
        // border-radius: 10px;
        // height: auto;
        // align-items: center;
        // font-weight: 600;
    }
}

.sentence-section{
    display: flex;
    flex-direction: row;
}

.classic-segments {
    grid-template-columns: auto 1.1fr 0.9fr;
    /* line-height: 5px; */
    max-width: 100%;
}

.audioplay-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.word[data-type]:hover {
    opacity: 0.5;
}

.hovered{
    opacity: 0.5;
}
