.options-module-form {
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center;
    }

    &__header {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    &__view-label {
        cursor: pointer;
    }

    &__view-field {
        cursor: pointer;
    }

    &__visible-field {
        cursor: pointer;
    }

    &__voices-field {
        cursor: pointer;
    }

    &__speed-label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__speed-display {
        margin-left: 1.2rem;
    }
}