.hub {
    &__sections {
        display: flex;
        width: 100%;
        flex-direction: row;
        background-color: whitesmoke;
        min-height: 82vh;
    }

    &__main-section {
        width: 100%;
        min-height: 82vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.8rem;
    }
}