.audio-play {
  max-width: 1.5em !important;
  max-height: 1.5em !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s !important;
  font-size: inherit !important;

  &:active {
    background-color: #d6e6f0;
  }

  &:hover {
    transform: scale(1.1);
  }
}
