@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    width: 100%;
    position: relative;

    &__font-size-label {
        width: 15%;
        min-width: 150px;
    }

    &__option-button {
        // font-size: inherit !important;
        margin: 0.1rem;
    }

    &__options {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;
        margin-bottom: 0.2rem;
    }

    &__visible-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 !important;
        border: 2px solid $orange-700 !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
}

.hidden {
    opacity: 1 !important;
}