.remove-file-button {
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    margin: 1%;
}

.modify-filename {
    margin: 1%;
}

.additional-button {
    cursor: pointer;
    margin: 1%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lightblue;
    border-radius: 10px;
    font-weight: 600;
}

.additional-modify-options-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.common-modify-button{
    margin: 20px;
}