
.generate-audio-button {
    cursor: pointer;
}

.save-section {
    margin: 1%;
    margin-bottom: 10%;
}

.save-button {
    cursor: pointer;
}

.audio-segment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #ccc;
}

.colour-button {
    cursor: pointer;
    margin: 10%;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.20rem 0.40rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.sorto{
    display: flex;
    flex-direction: row;
}