header {
    width: 100% !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    min-height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-top: 1px solid #e5e5e5;
    min-height: 9vh;
    white-space: nowrap;
    text-align: center;
}

main {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.main-section {
    /* height: 1500px; */
    width: 94%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sections-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: whitesmoke;
    min-height: 81vh;
}

.left-section {
    width: 2%;
}

.right-section {
    width: 4%;
    align-items: start;
}

.return-button {
    margin: 10%;
    cursor: pointer;
    /* width: auto;
    height: auto; */
}

.change-language-button {
    cursor: pointer;
}

.header-left-section {
    display: flex;
}

.header-right-section {
    display: flex;
    justify-content: flex-end;
}