// .separator-segment{
//     background-color: black;
//     width: 8px;
// }

.segmenting__sortable{
    display: flex;
    flex-direction: row;
}

.segmenting__sortable-row{
    margin-bottom: 0.2rem;
}