@use "../../../../styles/main";

.classic-view {
    &__column-segment {
        display: flex;
        flex-direction: row;
    }

    &__sentence-segment {
        cursor: pointer;
        padding: 0.15rem;
        padding-left: 0.7rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__translation-segment {
        position: relative;
        border: 1px solid black;
        background-color: main.$translation-segment;
        padding: 0.15rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    &__audioplay-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0.15rem;
    }
}

.hovered {
    opacity: 0.5;
}

@include main.color-mode(dark) {
    .classic-view {
        &__translation-segment {
            background-color: main.$translation-segment-dark;
        }
    }
}