@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.classic-view {
    &__column-segment
    {
        display: flex;
        flex-direction: row;
    }

    &__sentence-segment {
        cursor: pointer;
        padding: 0.1rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__translation-segment {
        position: relative;
        border: 1px solid black;
        background-color: $gray-200;
        padding: 0.1rem;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    &__audioplay-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.hovered {
    opacity: 0.5;
}