@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.header {
    width: 100%;
    min-height: 8vh;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: row;
    background-color: $white;
    
    &__navbar {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
    
    &__brand {
    }

    &__dropdown {
        .nav-link:hover {
            opacity: 0.5;
            scale: 1.02;
            transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }
    }

    &__link {
        &:hover {
            opacity: 0.5;
            scale: 1.02;
            transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0.5rem;
    }
}
