@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


.header {
    width: 100%;
    min-height: 8vh;
    max-height: 10vh;
    box-shadow: $box-shadow;
    z-index: 1;
    display: flex;
    flex-direction: row;

    &__navbar {
        padding: 0.5rem;
    }
    
    &__brand {
    }

    &__dropdown {
        padding: 1rem;

        .nav-link:hover {
            opacity: 0.5;
            scale: 1.02;
            transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }
    }

    &__link {
        &:hover {
            opacity: 0.5;
            scale: 1.02;
            transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0.5rem;
    }
}
