@import "./../../css/main.scss";

.header {
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 1;
    display: flex;
    flex-direction: row;

    &__navbar {
        padding: 0.5rem;
    }

    &__brand {
    }

    &__dropdown {
        padding: 1rem;

        .nav-link:hover {
            opacity: 0.5;
        }
    }

    &__link {
        &:hover {
            opacity: 0.5;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0.5rem;
    }
}
