// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
@use "../../styles/main";


.footer {
    width: 100%;
    min-height: 10vh;
    box-shadow: main.$box-shadow;
    background-color: main.$frame-bg;
}

@include main.color-mode(dark) {
    .footer {
        background-color: main.$frame-bg-dark;
    }
}